@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after {
  transition: all 0.3s;
}

:root {
  --orange: rgb(243, 71, 3);
  --gray: rgb(119, 119, 119);
  --light-gray: rgb(172, 172, 172);
  --dark-gray: rgb(128, 128, 128);
  --dark-brown: rgb(51, 8, 2);
  --dark-coffee: rgb(5, 3, 6);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --gold: rgb(255, 215, 0);
  --dark-blue: rgb(0, 87, 114);
}

html {
  scroll-behavior: smooth;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled-date {
  color: rgb(var(--bs-success-rgb)) !important;
}

img {
  max-width: 100%;
  display: block;
}

.bg-primary-custom {
  background-color: var(--dark-blue);
}

.line-clamp-1 {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

body {
  font-family: "Poppins", sans-serif;
}
body a {
  color: inherit;
  text-decoration: none;
}
body header {
  min-height: 80px;
  background-color: var(--dark-blue);
  color: #fff;
}
@media (max-width: 768px) {
  body header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
body header .container,
body header .row {
  min-height: inherit;
}
body header .container ul.navigation,
body header .row ul.navigation {
  margin-bottom: 0;
}
body header .container ul.navigation li a,
body header .row ul.navigation li a {
  position: relative;
  color: var(--white);
}
body header .container ul.navigation li a::before,
body header .row ul.navigation li a::before {
  content: "";
  position: absolute;
  background-color: var(--orange);
  width: 0;
  height: 2px;
  bottom: -5px;
}
body header .container ul.navigation li a:hover,
body header .row ul.navigation li a:hover {
  color: var(--white);
}
body header .container ul.navigation li a:hover::before,
body header .row ul.navigation li a:hover::before {
  width: 100%;
}
@media (max-width: 768px) {
  body header .container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 5;
    background-color: var(--black);
    transition: all 0.5s ease;
    transform: translateX(-100%);
  }
  body header .container .row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
  }
  body header .container .row img {
    width: 100% !important;
  }
  body header .container .row ul.navigation {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 20px !important;
  }
  body header .container.active {
    transform: translateX(0);
  }
}
body label.error {
  color: #f00;
}
body .calendar-data .content {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 0 8px 2px #e7e7e7;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}
body #calendar_inline .list-group-flush {
  overflow: hidden auto;
  max-height: 250px;
  padding: 5px;
  scrollbar-width: thin;
}
body #calendar_inline .list-group-flush::-webkit-scrollbar {
  width: 2px;
}
body #calendar_inline .list-group-flush::-webkit-scrollbar-thumb {
  background-color: var(--dark-brown);
}
body #calendar_inline .list-group-flush::-webkit-scrollbar-track {
  background-color: var(--light-gray);
}
body .edit-profile-btn {
  top: 0;
  right: 10px;
}
body .edit-profile-btn.edit-profile-pic {
  top: 45px;
}
body main section {
  position: relative;
}
body main section.hero {
  height: 700px;
  background-image: url("../img/bannerimg.png");
  background-repeat: no-repeat;
  background-position: 100% 38%;
  background-size: cover;
  background-color: lightblue;
}
body main section.hero.__about {
  background-image: url("../img/Clinic.png");
  height: 500px;
  background-position: center;
}
body main section.hero::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}
body main section.hero .container {
  position: relative;
  height: inherit;
  overflow: hidden;
}
body main section.hero .container .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main section.hero .container .content h1 {
  font-size: 55px;
  letter-spacing: 3px;
  color: transparent;
  background-clip: text;
  background-image: url("../img/banner.jpg");
  background-size: 200%;
  background-position: 100% -35%;
  background-repeat: no-repeat;
  animation: text_reval 3s forwards 0.2s;
}
body main section.hero .container .content h1.smoke-text {
  position: absolute;
  bottom: 0;
}
body main section.hero .container .content h1.smoke {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  transform: scaleX(1);
  animation: smoke 3s infinite linear 0s;
}
body main section.calendar {
  margin-block: 30px;
}
body main section.calendar .content_ {
  display: grid;
  gap: 50px;
  padding: 30px;
}
@media (min-width: 768.1px) {
  body main section.calendar .content_ {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
  }
}
body main section.calendar .content_ p {
  text-align: justify;
}
body.reservation_page .render_cafe_info, body.edit_reservation_page .render_cafe_info {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #eee inset, 0 0 8px 5px #eee inset;
  text-align: center;
}
body.reservation_page .render_cafe_info .grid-box, body.edit_reservation_page .render_cafe_info .grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body.reservation_page .render_cafe_info .grid-box .item, body.edit_reservation_page .render_cafe_info .grid-box .item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body.reservation_page .render_cafe_info .grid-box .item:not(:last-child)::after, body.edit_reservation_page .render_cafe_info .grid-box .item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--light-gray);
  top: 0;
  right: -2px;
}
body.reservation_page .render_cafe_info .grid-box .item .text, body.edit_reservation_page .render_cafe_info .grid-box .item .text {
  padding-inline: 3px;
}
@media (max-width: 768px) {
  body.reservation_page .render_cafe_info .grid-box, body.edit_reservation_page .render_cafe_info .grid-box {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  body.reservation_page .render_cafe_info .grid-box .item:not(:last-child)::after, body.edit_reservation_page .render_cafe_info .grid-box .item:not(:last-child)::after {
    width: 100%;
    height: 2px;
    left: 0;
    top: auto;
    right: auto;
    bottom: -7px;
  }
}
body.admin_dashboard_page table#example th,
body.admin_dashboard_page table#example td, body.admin_dashboard_page table#example1 th,
body.admin_dashboard_page table#example1 td, body.cafe_owner_dashboard_page table#example th,
body.cafe_owner_dashboard_page table#example td, body.cafe_owner_dashboard_page table#example1 th,
body.cafe_owner_dashboard_page table#example1 td, body.visitor_dashboard_page table#example th,
body.visitor_dashboard_page table#example td, body.visitor_dashboard_page table#example1 th,
body.visitor_dashboard_page table#example1 td, body.add_categories_page table#example th,
body.add_categories_page table#example td, body.add_categories_page table#example1 th,
body.add_categories_page table#example1 td {
  text-align: center;
  vertical-align: middle;
}
body.menu_page .card, body.cafe_menu_page .card {
  min-height: 380px;
}
body.menu_page .card .img, body.cafe_menu_page .card .img {
  display: flex;
  width: 100%;
  height: 180px;
}
body.menu_page .ratings i, body.cafe_menu_page .ratings i {
  color: var(--light-gray);
}
body.menu_page .ratings.rate-1 i:nth-child(n+1):nth-child(-n+1), body.cafe_menu_page .ratings.rate-1 i:nth-child(n+1):nth-child(-n+1) {
  color: var(--gold);
}
body.menu_page .ratings.rate-2 i:nth-child(n+1):nth-child(-n+2), body.cafe_menu_page .ratings.rate-2 i:nth-child(n+1):nth-child(-n+2) {
  color: var(--gold);
}
body.menu_page .ratings.rate-3 i:nth-child(n+1):nth-child(-n+3), body.cafe_menu_page .ratings.rate-3 i:nth-child(n+1):nth-child(-n+3) {
  color: var(--gold);
}
body.menu_page .ratings.rate-4 i:nth-child(n+1):nth-child(-n+4), body.cafe_menu_page .ratings.rate-4 i:nth-child(n+1):nth-child(-n+4) {
  color: var(--gold);
}
body.menu_page .ratings.rate-5 i, body.cafe_menu_page .ratings.rate-5 i {
  color: var(--gold);
}
body.menu_page .filter_container.loading::before, body.cafe_menu_page .filter_container.loading::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  rotate: 0deg;
  background-image: url("https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 800px;
  height: 284px;
  z-index: 3;
}
body.menu_page .filter_container.loading::after, body.cafe_menu_page .filter_container.loading::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 50vh;
}
body.reviews_page .checkbox-group .form-check {
  padding: 0;
  margin: 0;
}
body.reviews_page .checkbox-group .form-check .form-check-label i {
  color: var(--light-gray);
  cursor: pointer;
}
body.reviews_page .checkbox-group .form-check .form-check-input:checked ~ .form-check-label i {
  color: gold;
}
body.reviews_page .checkbox-group .form-check .form-check-input:checked ~ .form-check-label ~ .form-check-label i {
  color: gold;
}
body.cafe_review_page .review-card, body.cafe_reviews_page .review-card, body.home_page .review-card {
  min-height: 230px;
}
body.cafe_review_page .review-card .users-name h5, body.cafe_reviews_page .review-card .users-name h5, body.home_page .review-card .users-name h5 {
  top: 3px;
  right: 0;
}
body.cafe_review_page .review-card .ratings i, body.cafe_reviews_page .review-card .ratings i, body.home_page .review-card .ratings i {
  color: var(--light-gray);
}
body.cafe_review_page .review-card .ratings.rate-1 i:nth-child(n+1):nth-child(-n+1), body.cafe_reviews_page .review-card .ratings.rate-1 i:nth-child(n+1):nth-child(-n+1), body.home_page .review-card .ratings.rate-1 i:nth-child(n+1):nth-child(-n+1) {
  color: var(--gold);
}
body.cafe_review_page .review-card .ratings.rate-2 i:nth-child(n+1):nth-child(-n+2), body.cafe_reviews_page .review-card .ratings.rate-2 i:nth-child(n+1):nth-child(-n+2), body.home_page .review-card .ratings.rate-2 i:nth-child(n+1):nth-child(-n+2) {
  color: var(--gold);
}
body.cafe_review_page .review-card .ratings.rate-3 i:nth-child(n+1):nth-child(-n+3), body.cafe_reviews_page .review-card .ratings.rate-3 i:nth-child(n+1):nth-child(-n+3), body.home_page .review-card .ratings.rate-3 i:nth-child(n+1):nth-child(-n+3) {
  color: var(--gold);
}
body.cafe_review_page .review-card .ratings.rate-4 i:nth-child(n+1):nth-child(-n+4), body.cafe_reviews_page .review-card .ratings.rate-4 i:nth-child(n+1):nth-child(-n+4), body.home_page .review-card .ratings.rate-4 i:nth-child(n+1):nth-child(-n+4) {
  color: var(--gold);
}
body.cafe_review_page .review-card .ratings.rate-5 i, body.cafe_reviews_page .review-card .ratings.rate-5 i, body.home_page .review-card .ratings.rate-5 i {
  color: var(--gold);
}
body.clinic_page .render_list .box {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #ddd, 0 0 5px 2px #eee;
}
body.clinic_page .render_list .box .avatar {
  width: 100px;
  height: 100px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}
body .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body .owl-carousel .owl-nav button span {
  font-size: 60px;
  color: var(--dark-blue);
}
body .owl-carousel .owl-nav button.owl-prev {
  left: -40px;
}
body .owl-carousel .owl-nav button.owl-next {
  right: -40px;
}

@keyframes text_reval {
  from {
    background-position: 100% -35%;
  }
  to {
    background-position: 100% 55%;
  }
}
@keyframes smoke {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
    text-shadow: 0 -200px 5px rgba(255, 255, 255, 0.2);
  }
}/*# sourceMappingURL=style.css.map */