@import "fonts";

// General CSS Start
:root {
  --bg-custom-green: #a7ba2f;
  --bg-custom-green-dark: #93a328;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-openSans);
}

img {
  max-width: 100%;
  display: block;
}

.btn-custom-green {
  background-color: var(--bg-custom-green);
  color: #fff;
}
.btn-custom-green:hover,
.btn-custom-green:focus-visible,
.btn-custom-green:active {
  background-color: var(--bg-custom-green-dark);
  // color: #fff;
}

.line-clamp-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

textarea {
  resize: none;
}

// General CSS End

body {
  font-family: var(--ff-inter);
  background-color: rgb(236, 236, 236);
  header {
    background-color: var(--bg-custom-green);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      .nav {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  // HOME PAGE
  &#home {
    section {
      &.hero {
        min-height: 350px;
        background-color: rgb(49, 49, 49);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          letter-spacing: 0.8px;
        }
        .meal-plan-img {
          height: 300px;
          overflow: hidden;
          border-radius: 10px;
          display: flex;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  // LOGIN PAGE
  &#login,
  &#register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    background-color: var(--bg-custom-green);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
