@import "fonts";

@mixin responsive($size) {
  @if ($size == "desktop") {
    @media (min-width: 768.1px) {
      @content;
    }
  } @else if($size == "mobile") {
    @media (max-width: 768px) {
      @content;
    }
  }
}

// General CSS Start
:root {
  --bg-custom-green: #a7ba2f;
  --bg-custom-green-dark: #93a328;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-openSans);
}

img {
  max-width: 100%;
  display: block;
}

.btn.btn-custom-green {
  background-color: var(--bg-custom-green);
  color: #fff;
}
.btn.btn-custom-green:hover,
.btn.btn-custom-green:focus-visible,
.btn.btn-custom-green:active,
.btn.btn-custom-green.active {
  background-color: var(--bg-custom-green-dark);
  border-color: var(--bg-custom-green-dark);
  // color: #fff;
}

.line-clamp-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

textarea {
  resize: none;
}

.min-h-800 {
  min-height: 800px;
}

// General CSS End

body {
  font-family: var(--ff-inter);
  background-color: rgb(236, 236, 236);
  header {
    background-color: var(--bg-custom-green);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      .nav {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  // HOME PAGE
  &#home {
    section {
      &.hero {
        min-height: 350px;
        background-color: rgb(49, 49, 49);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          letter-spacing: 0.8px;
        }
        .meal-plan-img {
          height: 300px;
          overflow: hidden;
          border-radius: 10px;
          display: flex;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  // LOGIN PAGE
  &#login,
  &#register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &#recipes_list,
  &#userDashboard {
    .list-wrapper {
      .content {
        background-color: #fff;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        min-height: 380px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px 3px #a1a1a133;
        .img {
          display: flex;
          width: 100%;
          height: 200px;
          img {
            object-fit: cover;
            border-radius: 3px;
            width: inherit;
          }
        }
        h3 {
          display: -webkit-box;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 22px;
          line-height: 30px;
        }
        p {
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
    #RecipeDetails {
      #title {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -12px;
          width: 100%;
          height: 2px;
          background-color: #eee;
        }
      }
      #list_ingredients {
        max-width: 350px;
        &.count_6 {
          columns: 2;
        }
      }
      #instructions {
        letter-spacing: 0.8px;
      }
    }
  }

  footer {
    background-color: var(--bg-custom-green);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // width: 100%;
  }
  &#home,
  &#adminDashboard,
  &#userDashboard,
  &#recipes_list {
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
